
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Administrador</title>
        <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #btn1-div {
                position: absolute;
                top: 30%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn2-div {
                position: absolute;
                top: 50%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn3-div {
                position: absolute;
                top: 70%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn4-div {
                position: absolute;
                top: 90%;
                right: 10%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn5-div {
                position: absolute;
                top: 115%;
                right: 20%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn6-div {
                position: absolute;
                top: 135%;
                right: 20%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn7-div {
                position: absolute;
                top: 155%;
                right: 10%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn8-div {
                position: absolute;
                top: 185%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn9-div {
                position: absolute;
                top: 205%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }

            #btn10-div {
                position: absolute;
                top: 225%;
                right: 40%;
                border: 15px solid #ddc;
                padding: 20px 40px;
            }
        </style>


    </head>
    <body>
        <div>
            @if (Session["USUARIO"] != null)
            {
                Proyecto2.ClienteWeb.Models.Usuario userLogueado = Session["USUARIO"] as Proyecto2.ClienteWeb.Models.Usuario;
                Caja cajaAbierta = Session["CAJA"] as Caja;
                <div class="jumbotron text-center" style="margin-bottom:0">
                    <h1>Abrir Caja</h1>
                    <p>@userLogueado.Nombre - USUARIO: @userLogueado.Id_Usuario.ToString()</p>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            @using (Html.BeginForm("CerrarCajaAbierta", "CerrarCaja", FormMethod.Post))
                            {
                            <div id="CerrarCaja">
                                <div class="form-group">
                                    <div>
                                        <label for="Monto_Numero">Monto:</label>
                                        <input type="text" name="MontoLetras" value="@cajaAbierta.Monto" />
                                    </div>
                                    <div>
                                        <label for="Monto_letras">Monto:</label>
                                        <input type="text" name="MontoLetras" value="" placeholder="cien" />
                                    </div>
                                    <div>
                                        <label for="Observacion">Observacion:</label>
                                        <input type="text" name="Observacion" value="" placeholder="El estado de la caja es bueno" />
                                    </div>
                                </div>
                                <input id="btn" name="btn" type="submit" value="Cerrar" class="btn btn-primary" />
                            </div>
                            }
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

                


                <div id="btn10-div">
                    <table>
                        <tr>
                            <td><h2>Sesión</h2></td>
                        </tr>
                        <tr>
                            <td><a href="@Url.Action("vFinalizado","CerrarSesion")" class="btn btn-secondary">Cerrar Sesión</a></td>
                        </tr>
                    </table>
                </div>


            }
            else
            {
                <h2>ERROR: INICIAR SESION</h2>
            }
        </div>
    </body>
</html>
